In [11]:
#Working with csv
import pandas as pd

In [8]:
import requests
from io import StringIO

In [9]:
headers ={"User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/109.0"}
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
response=requests.get(url,headers)
data=StringIO(response.text)
df=pd.read_csv(data,nrows=100)

In [10]:
df

       Country  Region
0      Algeria  AFRICA
1       Angola  AFRICA
2        Benin  AFRICA
3     Botswana  AFRICA
4      Burkina  AFRICA
..         ...     ...
95  Uzbekistan    ASIA
96     Vietnam    ASIA
97       Yemen    ASIA
98     Albania  EUROPE
99     Andorra  EUROPE

[100 rows x 2 columns]

In [20]:
#re=pd.read_csv("read_csv.tsv",sep="\t",names=["Sno.","empid","empjob"])this read a tsv file and give column name

working with Json

In [14]:
df=pd.read_json('train.json')
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [16]:
df=pd.read_json("https://api.github.com/users/hadley/orgs")
df.head()

,login,id,node_id,url,repos_url,events_url,hooks_url,issues_url,members_url,public_members_url,avatar_url,description
0,ggobi,423638,MDEyOk9yZ2FuaXphdGlvbjQyMzYzOA==,https://api.github.com/orgs/ggobi,https://api.github.com/orgs/ggobi/repos,https://api.github.com/orgs/ggobi/events,https://api.github.com/orgs/ggobi/hooks,https://api.github.com/orgs/ggobi/issues,https://api.github.com/orgs/ggobi/members{/mem...,https://api.github.com/orgs/ggobi/public_membe...,https://avatars.githubusercontent.com/u/423638...,
1,rstudio,513560,MDEyOk9yZ2FuaXphdGlvbjUxMzU2MA==,https://api.github.com/orgs/rstudio,https://api.github.com/orgs/rstudio/repos,https://api.github.com/orgs/rstudio/events,https://api.github.com/orgs/rstudio/hooks,https://api.github.com/orgs/rstudio/issues,https://api.github.com/orgs/rstudio/members{/m...,https://api.github.com/orgs/rstudio/public_mem...,https://avatars.githubusercontent.com/u/513560...,
2,rstats,722735,MDEyOk9yZ2FuaXphdGlvbjcyMjczNQ==,https://api.github.com/orgs/rstats,https://api.github.com/orgs/rstats/repos,https://api.github.com/orgs/rstats/events,https://api.github.com/orgs/rstats/hooks,https://api.github.com/orgs/rstats/issues,https://api.github.com/orgs/rstats/members{/me...,https://api.github.com/orgs/rstats/public_memb...,https://avatars.githubusercontent.com/u/722735...,None
3,ropensci,1200269,MDEyOk9yZ2FuaXphdGlvbjEyMDAyNjk=,https://api.github.com/orgs/ropensci,https://api.github.com/orgs/ropensci/repos,https://api.github.com/orgs/ropensci/events,https://api.github.com/orgs/ropensci/hooks,https://api.github.com/orgs/ropensci/issues,https://api.github.com/orgs/ropensci/members{/...,https://api.github.com/orgs/ropensci/public_me...,https://avatars.githubusercontent.com/u/120026...,Tools and R Packages for Open Science
4,rjournal,3330561,MDEyOk9yZ2FuaXphdGlvbjMzMzA1NjE=,https://api.github.com/orgs/rjournal,https://api.github.com/orgs/rjournal/repos,https://api.github.com/orgs/rjournal/events,https://api.github.com/orgs/rjournal/hooks,https://api.github.com/orgs/rjournal/issues,https://api.github.com/orgs/rjournal/members{/...,https://api.github.com/orgs/rjournal/public_me...,https://avatars.githubusercontent.com/u/333056...,None

WORKING WITH SQL

In [17]:
import mysql.connector

In [20]:
conn=mysql.connector.connect(host="localhost",user='root',password='',database='world')

In [23]:
pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'USA'",conn)

C:\Users\offic\AppData\Local\Temp\ipykernel_20176\3992278021.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'USA'",conn)

       ID          Name CountryCode        District  Population
0    3793      New York         USA        New York     8008278
1    3794   Los Angeles         USA      California     3694820
2    3795       Chicago         USA        Illinois     2896016
3    3796       Houston         USA           Texas     1953631
4    3797  Philadelphia         USA    Pennsylvania     1517550
..    ...           ...         ...             ...         ...
269  4062       Kenosha         USA       Wisconsin       89447
270  4063         Elgin         USA        Illinois       89408
271  4064        Odessa         USA           Texas       89293
272  4065        Carson         USA      California       89089
273  4066    Charleston         USA  South Carolina       89063

[274 rows x 5 columns]