In [3]:
import pandas as pd

In [5]:
import requests
from io import StringIO

In [16]:
headers ={"User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/109.0"}
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
response=requests.get(url,headers)
data=StringIO(response.text)
df=pd.read_csv(data,nrows=100)

In [18]:
df

       Country  Region
0      Algeria  AFRICA
1       Angola  AFRICA
2        Benin  AFRICA
3     Botswana  AFRICA
4      Burkina  AFRICA
..         ...     ...
95  Uzbekistan    ASIA
96     Vietnam    ASIA
97       Yemen    ASIA
98     Albania  EUROPE
99     Andorra  EUROPE

[100 rows x 2 columns]

In [20]:
#re=pd.read_csv("read_csv.tsv",sep="\t",names=["Sno.","empid","empjob"])this read a tsv file and give column name